.popup__input {
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 30px auto;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 767px) {
    .popup__input {
      width: 238px;
    }
  }
  
