.popup__field {
    width: 358px;
    height: 27px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px auto;
}

.popup__field :last-child {
    margin-bottom: 0;
}


